.ui.action.input > .button.stopButton {
  margin-right: 1em;
  padding-left: 3em !important;
  padding-right: 1em !important;
}

/* necessary to give the sticky div styles. otherwise, we can't target the sticky */
.sticky > div:nth-child(2) {
  z-index: 1; /* needed to place sticky above the tweets*/
  padding-top: 2em;
  padding-bottom: 1em;
  background-color: white
}